ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a,
.footer a:visited,
.footer a:hover,
.footer a:active {
  color: #000;
  text-decoration: none;
}


h1, h2{
    margin: 0;
}

p{
    margin: 0;
}